body {
  height: 100vh;
  margin: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: 'Merriweather', serif;
  background: linear-gradient(
    124deg,
    #D52D00 14.28%,
    #EF7627 14.28%,
    #EF7627 28.57%,
    #FF9A56 28.57%,
    #FF9A56 42.85%,
    #FFFFFF 42.85%,
    #FFFFFF 57.14%,
    #D162A4 57.14%,
    #D162A4 71.42%,
    #B55690 71.42%,
    #B55690 85.71%,
    #A30262 85.71%
  );
}

img {
  width: 85vw;
  height: auto;
}