body {
display: flex;
margin: 0;
justify-content: center;
color: white;
font-family: "Open Sans", sans-serif;
background: linear-gradient(
    124deg,
    #D52D00 14.28%,
    #EF7627 14.28%,
    #EF7627 28.57%,
    #FF9A56 28.57%,
    #FF9A56 42.85%,
    #FFFFFF 42.85%,
    #FFFFFF 57.14%,
    #D162A4 57.14%,
    #D162A4 71.42%,
    #B55690 71.42%,
    #B55690 85.71%,
    #A30262 85.71%
  );
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 100vh;
}

img {
	width: 100%;
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
