<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>SPOP Screenshots</title>
  <meta name='description' content='Hourly screenshots from She-Ra and the Princesses of Power'>
  <meta name='generator' content='{{ eleventy.generator }}'>

  <link rel='icon' href='data:image/svg+xml,{% capture svg %}{% include 'icons/favicon.svg' %}{% endcapture %}{{ svg | uri_encode }}' type='image/svg+xml'>

  <style>{{ styles }}{% getBundle "stylesheet" %}</style>
</head>