<meta charset="utf-8">

<title>{{ site.name }}</title>
{% if eleventyExcludeFromCollections %}<meta name="robots" content="noindex">{% endif %}

<meta name="description" content="{{ site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='generator' content='eleventy'>

<link rel="canonical" href="https://{{ site.url }}{{ page.url }}">
<link rel="author" href="/humans.txt"/>
<link rel='icon' href="data:image/svg+xml,{% encode %}{% include 'favicon.svg' %}{% endencode %}">

<meta property="og:image" content="https://{{ site.url }}/gay.jpg" />

<style>{% renderFile "./src/styles/etheria.scss" %}{% if title=='404' %}{% renderFile "./src/styles/404.scss" %}{% endif %}</style>

